/* CSS for website */

.center-align {
    text-align: center;
    text-decoration: none;
}
.gitbook-link {
	font-size: .6em;
}
.book .book-body .page-wrapper .page-inner {
	width:70%;
}
.book .book-body .page-wrapper .page-inner section.normal {
	position: relative;
    border: 1px solid #ddd;
    border-radius: 3px;
	padding: 30px;
}